.action-buttons {
  display: flex;
  justify-content: space-between; /* Spread buttons evenly */
  gap: 15px;
  margin-top: 20px;
  background-color: var(--editable-cell-bg);
  color: var(--text-color);
  height: clamp(40px, 3vw, 50px); /* Responsive height */
  padding: 0 15px;
  transition: all 0.3s ease;
}

.action-buttons > .active {
  color: var(--primary-color); /* Active state for the 'Clear' button */
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
}

.action-buttons button {
  background-color: var(--editable-cell-bg);
  color: var(--text-color);
  padding: 0 5px;
  font-size: var(--font-size-medium); /* Responsive font size */
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.2s ease;
}
