@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-sans: "Poppins", sans-serif;
  --base-font-size: 16px;
  --font-size-xsmall: clamp(0.5em, 0.7vw, 0.7rem);
  --font-size-small: clamp(0.7em, 1vw, 1rem);
  --font-size-medium: clamp(1em, 2vw, 1.5em);
  --font-size-large: clamp(1.2em, 3vw, 2em);
  --font-size-xlarge: clamp(16px, 2vw, 24px);
  --grid-outline-size: 2px;
  --grid-outline-color: #ccd3dc;
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: var(--font-sans);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;

  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.icon-button {
  background-color: transparent;
  border: none;
  font-size: var(--font-size-medium);
  color: var(--primary-color);
  cursor: pointer;
}
