.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.number-buttons-div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 10px;
  max-width: 300px;
  justify-content: center;
}

.button__badge {
  background-color: #fa3e3e;
  border-radius: 50%;
  color: white;
  padding: 1px 4px;
  font-size: 10px;
  position: absolute;
  top: -3px;
  right: -3px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button.num-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
  transition: border-color 0.25s;
  transition: all 0.3s ease;

  display: inline-block;
  position: relative;
}

button.num-button.active {
  color: var(--primary-color);
  background: var(--secondary-color);
  font-weight: bold;

  border-color: var(--primary-color);
}

button.num-button:disabled {
  color: white;
  background: #505050;
  font-weight: bold;
  cursor: not-allowed;
}

button.num-button.button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
