/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

#sudoku-game-grid {
  display: flex;
  justify-content: center;
  padding: 1px;
  height: 100%; /* Ensure the grid fits the full height */
}

#sudoku-grid-inner-container {
  display: flex;
  flex-direction: column;
  background-color: var(--grid-outline-color);
  width: fit-content;
  padding: var(--grid-outline-size);
  border-radius: var(--grid-outline-size);
}

.sudoku-row {
  display: flex;
  justify-content: center;
  height: 100%; /* Ensure row fits vertically */
}

.sudoku-cell {
  width: clamp(2em, 5vw, 3em); /* Responsive width based on viewport width */
  height: clamp(2em, 5vw, 3em); /* Responsive height based on viewport width */
  border: 1px solid var(--grid-outline-color);
  padding: 3px;
  text-align: center;
  line-height: clamp(2em, 5vw, 3em);
  transition: all 0.2s ease;
}

.sudoku-cell.locked-cell {
  font-weight: bold;
  background-color: var(--locked-cell-bg);
  color: var(--locked-cell-text-color);
  font-family: var(--font-sans);
  font-weight: 700;
  opacity: 0.85;
}

.sudoku-cell.editable-cell {
  background-color: var(--editable-cell-bg);
  color: var(--editable-cell-text-color);
  cursor: pointer;
}

.sudoku-cell.right-margin {
  margin-right: var(--grid-outline-size);
}

.sudoku-cell.bottom-margin {
  margin-bottom: var(--grid-outline-size);
}

.sudoku-cell.editable-cell.active-cell {
  background: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 3px;
  border-color: rgba(0, 0, 0, 0.3);
}

.sudoku-cell.same-number-cell {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.sudoku-cell.neighbor-cell {
  border-color: var(--primary-color);
  background-color: var(--secondary-color);
  color: black;
}

.sudoku-cell.red {
  background-color: red;
  color: white;
}
