/* Light mode theme */
[data-theme="light"] {
  --bg-color: hsl(39, 70%, 95%);
  --editable-cell-bg: hsl(0, 0%, 100%);
  --locked-cell-bg: hsl(0, 0%, 100%);

  --text-color: hsl(0, 0%, 0%);
  --editable-cell-text-color: var(--primary-color);
  --locked-cell-text-color: var(--text-color);
  --gray-color: hsl(216, 20%, 90%);

  --highlight-cell: hsl(216, 10%, 85%);
  --highlight-row: hsl(222, 15%, 50%);
  --primary-color: hsl(
    342,
    75%,
    54%
  ); /* Default primary color for light mode */
  --secondary-color: hsl(
    342,
    80%,
    96%
  ); /* Default secondary color for light mode */
}

/* Dark mode theme */
[data-theme="dark"] {
  --bg-color: hsl(220, 15%, 14%);
  --editable-cell-bg: hsl(0, 0%, 27%);
  --locked-cell-bg: hsl(0, 0%, 27%);

  --text-color: hsl(0, 0%, 100%);
  --editable-cell-text-color: hsl(0, 0%, 100%);
  --locked-cell-text-color: hsl(0, 0%, 100%);
  --gray-color: hsl(218, 30%, 35%);

  --highlight-cell: hsl(216, 10%, 85%);
  --highlight-row: hsl(222, 15%, 50%);
  --primary-color: hsl(
    342,
    75%,
    54%
  ); /* Default primary color for light mode */
  --secondary-color: hsl(
    342,
    80%,
    96%
  ); /* Default secondary color for light mode */
}

/* Custom color palettes */
[data-color-scheme="green"] {
  --primary-color: hsl(135, 100%, 37%);
  --secondary-color: hsl(135, 70%, 92%);
}

[data-color-scheme="blue"] {
  --primary-color: hsl(210, 100%, 50%);
  --secondary-color: hsl(210, 90%, 94%);
}

[data-color-scheme="navy"] {
  --primary-color: hsl(247, 90%, 22%);
  --secondary-color: hsl(247, 20%, 93%);
}

[data-color-scheme="pink"] {
  --primary-color: hsl(342, 75%, 54%);
  --secondary-color: hsl(342, 80%, 96%);
}

[data-color-scheme="teal"] {
  --primary-color: hsl(165, 50%, 60%);
  --secondary-color: hsl(165, 60%, 88%);
}

[data-color-scheme="purple"] {
  --primary-color: hsl(270, 45%, 60%);
  --secondary-color: hsl(270, 40%, 90%);
}

[data-color-scheme="violet"] {
  --primary-color: hsl(300, 40%, 75%);
  --secondary-color: hsl(300, 60%, 94%);
}

[data-color-scheme="olive"] {
  --primary-color: hsl(60, 25%, 50%);
  --secondary-color: hsl(42, 50%, 94%);
}

[data-color-scheme="terracotta"] {
  --primary-color: hsl(4, 50%, 61%);
  --secondary-color: hsl(340, 50%, 95%);
}

[data-color-scheme="metallic"] {
  --primary-color: hsl(210, 15%, 40%);
  --secondary-color: hsl(0, 5%, 92%);
}

[data-color-scheme="aquamarine"] {
  --primary-color: hsl(175, 60%, 50%);
  --secondary-color: hsl(175, 60%, 88%);
}

/* Color scheme overrides for dark theme */
[data-color-scheme="green"][data-theme="dark"] {
  --bg-color: hsl(135, 20%, 15%);
  --text-color: hsl(135, 70%, 92%);
}

[data-color-scheme="blue"][data-theme="dark"] {
  --bg-color: hsl(210, 20%, 18%);
  --text-color: hsl(210, 90%, 94%);
}

[data-color-scheme="navy"][data-theme="dark"] {
  --bg-color: hsl(247, 20%, 16%);
  --text-color: hsl(247, 20%, 93%);
}

[data-color-scheme="pink"][data-theme="dark"] {
  --bg-color: hsl(342, 25%, 16%);
  --text-color: hsl(342, 80%, 96%);
}

[data-color-scheme="teal"][data-theme="dark"] {
  --bg-color: hsl(165, 20%, 16%);
  --text-color: hsl(165, 60%, 88%);
}

[data-color-scheme="purple"][data-theme="dark"] {
  --bg-color: hsl(270, 20%, 16%);
  --text-color: hsl(270, 40%, 90%);
}

[data-color-scheme="violet"][data-theme="dark"] {
  --bg-color: hsl(300, 20%, 18%);
  --text-color: hsl(300, 60%, 94%);
}

[data-color-scheme="olive"][data-theme="dark"] {
  --bg-color: hsl(60, 20%, 15%);
  --text-color: hsl(42, 50%, 94%);
}

[data-color-scheme="terracotta"][data-theme="dark"] {
  --bg-color: hsl(4, 20%, 15%);
  --text-color: hsl(340, 50%, 95%);
}

[data-color-scheme="metallic"][data-theme="dark"] {
  --bg-color: hsl(210, 15%, 15%);
  --text-color: hsl(0, 5%, 92%);
}

[data-color-scheme="aquamarine"][data-theme="dark"] {
  --bg-color: hsl(175, 20%, 15%);
  --text-color: hsl(175, 60%, 88%);
}

/* When color scheme is green and the theme is light */
[data-color-scheme="green"][data-theme="light"] {
  --bg-color: hsl(135, 70%, 92%);
  --text-color: hsl(220, 10%, 14%); /* Almost black text for contrast */
}

/* When color scheme is blue and the theme is light */
[data-color-scheme="blue"][data-theme="light"] {
  --bg-color: hsl(210, 90%, 94%);
  --text-color: hsl(220, 10%, 14%); /* Almost black text for contrast */
}

[data-color-scheme="navy"][data-theme="light"] {
  --bg-color: hsl(247, 20%, 93%);
  --text-color: hsl(220, 10%, 14%); /* Almost black text for contrast */
}

/* When color scheme is pink and the theme is light */
[data-color-scheme="pink"][data-theme="light"] {
  --bg-color: hsl(342, 80%, 96%);
  --text-color: hsl(220, 10%, 14%); /* Almost black text for contrast */
}

/* When color scheme is teal and the theme is light */
[data-color-scheme="teal"][data-theme="light"] {
  --bg-color: hsl(165, 60%, 88%);
  --text-color: hsl(220, 10%, 14%); /* Almost black text for contrast */
}

[data-color-scheme="purple"][data-theme="light"] {
  --bg-color: hsl(270, 40%, 90%);
  --text-color: hsl(220, 10%, 14%); /* Almost black text for contrast */
}

[data-color-scheme="violet"][data-theme="light"] {
  --bg-color: hsl(300, 60%, 94%);
  --text-color: hsl(220, 10%, 14%); /* Almost black text for contrast */
}

[data-color-scheme="olive"][data-theme="light"] {
  --bg-color: hsl(42, 50%, 94%);
  --text-color: hsl(220, 10%, 14%); /* Almost black text for contrast */
}

[data-color-scheme="terracotta"][data-theme="light"] {
  --bg-color: hsl(340, 50%, 95%);
  --text-color: hsl(220, 10%, 14%); /* Almost black text for contrast */
}

[data-color-scheme="metallic"][data-theme="light"] {
  --bg-color: hsl(220, 5%, 92%);
  --text-color: hsl(220, 10%, 14%); /* Almost black text for contrast */
}

/* When color scheme is aquamarine and the theme is light */
[data-color-scheme="aquamarine"][data-theme="light"] {
  --bg-color: hsl(175, 60%, 88%);
  --text-color: hsl(220, 10%, 14%); /* Almost black text for contrast */
}
